
/*vendor prefixes*/
.page-wrap {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

body{
  /*background-color:red;*/
}

h1, h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    border: 0;
}

#quizSection {
  float:left;
  /*max-width: 50%;*/
  padding: 40px 40px 0;
  border: 1px solid black;
    position: relative;
    width: 600px;
    height: 460px;
    border: 3px solid #000000;

}

#sketchHolder {
  float: right;
  max-width: 50%;
  /*position: relative;
  right: 200px;*/
  border: 1px solid black;
}

li {
  list-style-type: none;
}

#nextQ, #startOver {
    height:40px;
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
    bottom: -70px;
}

.selectors {
  padding-top: 5px;
}

#tally {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.answers {
  /*width: 600px;
  height: 250px;
  border: 1px solid #000000;*/
}
